:root{
  
  /*Light Theme*/
  --primary_color1: rgba(32,33,35,1);
  --primary_color2: rgba(255,255,255,1);
  --primary_color3: rgba(247,247,248,1);
  --menu_btn_color: rgba(68,70,84,1);
  --menu_btn_color_hover: rgba(114, 118, 141,1);
  
  /*Dark Theme*/
  --primary_color1: rgba(32,33,35,1);
  --primary_color2: rgba(52,53,65,1);
  --primary_color3: rgba(68,70,84,1);
  --menu_btn_color: rgba(247,247,248,1);
  --menu_btn_color_hover: rgba(200, 200, 203, 1);
}

.light_mode{
  --primary_color1: rgba(32,33,35,1);
  --primary_color2: rgba(255,255,255,1);
  --primary_color3: rgba(247,247,248,1);
  --menu_btn_color: rgba(68,70,84,1);
  --menu_btn_color_hover: rgba(114, 118, 141,1);
}
.dark_mode{
  --primary_color1: rgba(32,33,35,1);
  --primary_color2: rgba(52,53,65,1);
  --primary_color3: rgba(68,70,84,1);
  --menu_btn_color: rgba(247,247,248,1);
  --menu_btn_color_hover: rgba(200, 200, 203, 1);
}

*{
  transition: background-color 0.5s ease-out;
}

body{
  overflow: hidden;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
button{
  outline: none;
  border: none;
  transition: background-color 0.3s ease-out;
  user-select: none;
}
button:hover{
  cursor: pointer;
}
button:focus{
  outline: none;
  border: none;
}
textarea{
  outline: none;
  border: none;
  resize: none;
}
textarea:focus{
  outline: none;
  border: none;
}
textarea::placeholder{
  color: var(--primary_color3);
}


/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 6px;
}
/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 5px;
}
/* Customize the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

/*Layout of the Webpage*/
.main_body{
  display: flex;
  height: 100vh;
}
.side_bar{
  flex: 0 0 260px;
  background: var(--primary_color1);
  color: white;
  overflow-y: auto;
  padding-bottom: 10px;
  z-index: 9999;
}
.main_area{
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.menu_area{
  height: 40px;
  display: flex;
  background: var(--primary_color2);
  padding: 10px;
  z-index: 9999;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
}
.draw_area{
  width: 100%;
  height: 100%;
  position: relative;
  flex: 1;
}

/*Side Bar*/
.collapsible_wrapper{
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.Collapsible{
  width: 95%;
}
.side_bar_collapsible_header{
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(68,70,84,1);
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.side_bar_collapsible_header:hover{
  background-color: rgba(52,53,65,1);
}
.collapsibleArrowBtn{
  margin-left: auto;
}
.collapsible_content_container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.side_bar_collapsed_btn{
  width: 95%;
  padding: 5px;
  margin-top: 8px;
  border-radius: 5px;
  color: white;
  background-color: rgba(52,53,65,1);
  display: flex;
  align-items: center;
}
.side_bar_collapsed_btn:hover{
  background-color: rgba(68,70,84,1);
}
.icon_space_side_bar{
  margin-right: 5px;
}

/*Menu Bar*/
.left_menu_area_container{
  flex: 1;
  overflow-x: scroll;
  height: 100%;
  display: flex;
  gap: 5px;
}
.left_menu_area_container::-webkit-scrollbar {
  height: 0px; /* Set the height of the scrollbar */
}
.right_menu_area_container{
  flex-shrink: 0;
  height: 100%;
  display: flex;
  gap: 5px;
}
.menu_btn{
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 10px;
  background-color: var(--menu_btn_color);
  border-radius: 10px;
  color: var(--primary_color2)
}
.menu_btn:hover{
  background-color: var(--menu_btn_color_hover);
}

/*Draw Area*/
/*Container For All Elements*/
.container_elements{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}
/*Lines*/
.line{
  stroke: #4ea9ff;
  stroke-width: 4px;
  fill: none;
  transition: stroke 0.3s ease-out;
}
.line:hover{
  stroke: #4effbb;
}
.line_end_points{
  background-color: var(--primary_color3);
  border: 2px solid #cacaca;
  width: 10px;
  aspect-ratio: 1/1;
  border-radius: 100px;
  transition: background-color 0.3s ease-in-out;
}
.line_end_points:hover{
  background-color: #4ea9ff;
}

/*Draw Rect Region*/
.draw_rect{
  background-color: rgba(255, 0, 0, 0.233);
  border: 3px solid red;
}
.resizers_container{
  display: none;
}
.selectedShape{
  display: block;
}
.resizer{
  position: absolute;
  width: 10px;
  aspect-ratio: 1/1;
  background-color: var(--primary_color3);
  border-radius: 100px;
  border: 2px solid #cacaca;
}
.top_left_resizer{
  top: 0;
  left: 0;
  transform: translate(-50%,-50%);
}
.top_right_resizer{
  top: 0;
  right: 0;
  transform: translate(80%,-50%);
}
.bottom_left_resizer{
  bottom: 0;
  left: 0;
  transform: translate(-50%,80%);
}
.bottom_right_resizer{
  bottom: 0;
  right: 0;
  transform: translate(80%,80%);
}

/*draw_circle*/
.draw_circle{
  background-color: rgba(255, 166, 0, 0.233);
  border: 3px solid orange;
  border-radius: 1000px;
}
/*draw_textBox*/
.draw_textBox{
  background-color: var(--menu_btn_color);
  color: var(--primary_color2);
  border-radius: 10px;
  font-size: 15px;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}
.selectedTextBox{
  box-shadow: 0px 0px 13px -1px rgb(0 200 255);
}

/*Delete Element Btn*/
.deleteElement_btn{
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  aspect-ratio: 1/1;
  border-radius: 100px;
  border: 2px solid var(--primary_color2);
  background-color: var(--menu_btn_color);
  color: var(--primary_color2);
}
.rightClickComponet{
  display: flex;
}
.deleteElement_btn:hover{
  background-color: var(--menu_btn_color_hover);
}
.translate_80_-80{
  transform: translate(120%,-120%);
}
.translate_80_-50{
  transform: translate(120%,-20%);
}
.translate_80_-20{
  transform: translate(120%,80%);
}
.translate_80_10{
  transform: translate(120%,180%);
}
.translate_150_-150{
  transform: translate(150%,-150%);
}

/*Cursor Styles*/
.cursor_pointer {
  cursor: pointer;
}
.cursor_grab {
  cursor: grab;
}
.cursor_grabbing {
  cursor: grabbing;
}
.cursor_crosshair{
  cursor: crosshair;
}

/*Network Node*/
.netWorkNode{
  background-color: var(--menu_btn_color);
  color: var(--primary_color2);
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 13px -1px transparent;
  transition: box-shadow 0.3s ease-in-out;
  user-select: none;
  position: relative;
}
.selectedNetWorkNode{
  box-shadow: 0px 0px 13px -1px rgb(0 200 255);
}
.line_holder_for_node{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}
.nodes_line{
  position: absolute;
  width: 10px;
  aspect-ratio: 1/1;
  background-color: var(--primary_color3);
  border-radius: 100px;
  border: 2px solid #cacaca;
  cursor: crosshair;
}
.nodes_line:hover{
  background-color: #4ea9ff;
}
.top_node{
  top: -15%;
  left: 45%;
}
.bottom_node{
  top: 80%;
  left: 45%;
}
.left_node{
  top: 35%;
  left: -5%;
}
.right_node{
  top: 35%;
  left: 94%;
}

/*Pointer Events All*/
.pointer_event_all{
  pointer-events: all;
}
.pointer_event_none{
  pointer-events: none;
}


/*Input Json*/
label.input_field_file input[type="file"] {
  position: absolute;
  top: -1000px;
}
.input_field_file {
  cursor: pointer;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
  background-color: var(--menu_btn_color);
  display: inline-block;
  user-select: none;
}
.input_field_file:hover {
  background-color: var(--menu_btn_color_hover);
}
.input_field_file:active {
  background: #9fa1a0;
}
.input_field_file:invalid + span {
  color: var(--primary_color2);
}
.input_field_file:valid + span {
  color: var(--primary_color2)
}


/*Icon Size*/
.material-symbols-outlined.isp{
  font-size: 13px;
  padding: 4px;
  font-variation-settings: 'FILL' 0,
  'wght' 800,
  'GRAD' 0,
  'opsz' 48;
}

.centerAlignText{
  text-align: center;
}
.leftAlignText{
  text-align: left;
}
.rightAlignText{
  text-align: right;
}




.DrawAreaContainer{
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--primary_color3);
  background-size: 25px 25px;
  background-image: linear-gradient(to right, #20212354 1px, transparent 1px), linear-gradient(to bottom, #20212354 1px, transparent 1px);
}